/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.local
/bizjets/*.php
/rss
public/planeImages/
tests/_output/*
tests/_support/*
public/screenshots/*
/tests/Browser/screenshots/*
